<div class="sidebar">
	<div class="sidebar-menu">
		<a class="sidebar-link sidebar-link-with-icon tabby" name="manage">
			<span class="sidebar-icon">
				<i class="fas fa-tasks"></i>
			</span>
			Manage
		</a>
		<a class="sidebar-link sidebar-link-with-icon tabby" name="logs">
			<span class="sidebar-icon">
				<i class="fas fa-terminal"></i>
			</span>
			Logs
		</a>
	</div>
</div>