<div class="sidebar">
	<div class="sidebar-menu">
		<a class="sidebar-link sidebar-link-with-icon tabby" name="logging">
			<span class="sidebar-icon">
				<i class="fas fa-scroll"></i>
			</span>
			Logging
		</a>
		<a class="sidebar-link sidebar-link-with-icon tabby" name="commands">
			<span class="sidebar-icon">
				<i class="fas fa-terminal"></i>
			</span>
			Commands
		</a>
	</div>
</div>