a(class="sidebar-link sidebar-link-with-icon tabby" name="manage")
	span.sidebar-icon
		i.fas.fa-tasks
	| Manage
a(class="sidebar-link sidebar-link-with-icon tabby" name="logs")
	span.sidebar-icon
		i.fas.fa-terminal
	| Logs