a(class="sidebar-link sidebar-link-with-icon tabby" name="logging")
	span.sidebar-icon
		i.fas.fa-scroll
	| Logging
a(class="sidebar-link sidebar-link-with-icon tabby" name="commands")
	span.sidebar-icon
		i.fas.fa-terminal
	| Commands