<div class="sidebar">
	<div class="sidebar-menu">
		<a href="#" onclick="setTabby(this, 'logging')" class="sidebar-link sidebar-link-with-icon">
			<span class="sidebar-icon">
				<i class="fas fa-scroll"></i>
			</span>
			Logging
		</a>
		<a href="#" onclick="setTabby(this, 'commands')" class="sidebar-link sidebar-link-with-icon">
			<span class="sidebar-icon">
				<i class="fas fa-terminal"></i>
			</span>
			Commands
		</a>
	</div>
</div>