<div class="container-fluid h-full d-none" id="tabby">
	<div id="manage" class="tabby">
		<div class="d-flex flex-column">
			<div class="card mb-0">
				<div class="form-inline">
					<label class="w-100">Bot</label>
					<input type="text" class="form-control" value="Loading.." name="bot">
				</div>
				<div class="form-inline">
					<label class="w-100">Dashboard</label>
					<input type="text" class="form-control" value="Loading.." name="dashboard">
				</div>
				<div class="form-inline">
					<label class="w-100">System</label>
					<input type="text" class="form-control" value="Loading.." name="system">
				</div>
			</div>
			<div class="card mb-0">
				<div class="form-inline d-flex">
					<label class="w-100">Memory usage</label>
					<div class="progress rounded-0 flex-fill" style="height: 2em">
						<div class="progress-bar" name="memory"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="logs" class="tabby h-full">
		<div class="h-full">
			<pre class="m-0 h-full overflow-scroll"><code class="language-log">{{logs}}</code></pre>
		</div>
	</div>
</div>
<script>
	var data = {{{dump data}}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.25.1/humanize-duration.min.js"></script>
<script src="/admin.js" defer="true"></script>
<script src="/prism.js"></script>
<link rel="stylesheet" href="/prism.css">