extends layouts/main

append setvars
	- const navbar = true
	- const title = "Guilds"

append body
	if guilds.length > 0
		div(class="d-flex justify-content-center flex-wrap flex-row")
			each guild in guilds
				a(class="card shadow w-350 m-5 p-0 border align-items-center" href="/dashboard/" + guild.id)
					div(class="d-flex h-50 m-10")
						if guild.icon
							img(src=`https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` class="d-block w-50 h-50 rounded")

						div(class="flex-grow-1 overflow-y-hidden align-items-center w-full")
							div(class="p-10")
								h5(class="card-title")= guild.name
	else
		div(class="card py-auto")
			h2.card-title You don't have the bot in any servers where you can manage it.
			include partials/addbot